@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.scroll-items p.room_no.vast {
  color:rgb(139, 55, 92);
}

.scroll-items p.room_no.infovis {
  color: rgb(69, 53, 145);
}

.scroll-items p.room_no.vis {
  color: rgb(121, 25, 32);
}

.scroll-items p.room_no.scivis {
  color: rgb(28, 95, 98);
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: rgb(252, 41, 32);
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: rgba(255, 255, 255, 1);
    z-index:10;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    z-index: 99999;
}
.sidebarMenuInner li{
    list-style: none;
    color: rgb(252, 41, 32);;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    z-index: 99999;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(252, 41, 32, 0.50);
    z-index: 99999;
}
.sidebarMenuInner li a{
    color: rgb(252, 41, 32);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    z-index: 99999;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.title {
  margin-top: 7rem;
  margin-bottom: 1.5rem;
}

.title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.header h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 90%;
  text-align:center;
  display:table;
  width:100%;
  margin-top:0.9rem;
  color: #fff;
  font-size: 1.75rem;
}

.exit-space {
    height: 30px;
}

.exit {
    width: 50px;
    height: 5px;
    background-color: gray;
    opacity: 0.6;
    margin: auto;
    position: relative;
    top: 50%;
    border-radius: 50px;
}